.ignoreNav{
    padding-top: 65px;
}
.itemPad{
    padding: 30px;
}
.tableOption{
    border: none;
}
.thremov thead{
    display:none;
}
.ui-datatable-tablewrapper thead{
    display:none;
}

ui-paginator-bottom{
    background: white;

}
.ui-paginator{
    text-align: right;
}
.ui-widget-header{
    background: none;
    border: none;
}
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th{
    border-style: none;
}
.datalist-noborder .ui-widget-content{
    border: none;
}
.ui-datalist-content ui-widget-content{
    min-height:1000px;

}
.ui-widget-content{
    border: none;
}
.buttonColor{
    background: #337ab7;
}