.centerContent{
    display: block;
    margin: 0 auto;
}


.border{
    border: 1px solid black;
}

.categoryRow{
    margin-top: 80px;

}
.categoryLinkText{
    padding: 10px;
    margin-top: 20px;
    display: block;
    text-align: center;
    color: black;
    font-size: large;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ignoreNav{
    padding-top: 995px;
}
.jumbotron{
    text-align: center;
}

.categorypad{
    padding: 100px;

    border:1px solid #ccc;
    color:black;

}
.categorypad:hover{

    box-shadow: 0px 0px 5px 2px #888888;


}
.categoryBrowse{


}
.categoryBrowse :hover{
    background: #fcfcfc;
    text-decoration: none;
}